@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

div.Zc1Emd.QIJiHb.MiRdyc {
  background-color: #2b2b2b;
  border-color: #00cffb;
  border-left-width: 1px;
  border-style: solid;
  color: #a9b7c6;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-left: 10px;
  text-align: left;
}
/* void between messages background */
div.jGyvbd.GVSFtd {
  background-color: #2b2b2b;
}
/* chat main bg */
div.Bl2pUd.krjOGe {
  background-color: #222222;
}
/* header time */
div.b8Cb3d {
  color: #00cffb;
}
/* header name */
span.njhDLd {
  color: #ff822e;
}

/* active chat border */
div.dsoUjb.FwR7Pc {
  border-color: #dadce0;
}

/* message header */
div.oGsu4 {
  background-color: #2b2b2b;
}

/* spacer msg - reply bar */
div.nF6pT.jO0Dzb {
  background-color: transparent;
}

/* active chat div */
div.dsoUjb {
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  border-radius: 0;
}

/* message background */
div.YJxKBc.QE8tKf {
  background-color: #2b2b2b;
}

/* active reply bar */
div.vmpzOc {
  background-color: #2b2b2b;
}

/* mouse over msg */
div.hu21Y:hover {
  background-color: rgb(68, 68, 68);
}

/* link preview */
div.tHcB6b {
  height: 40px;
}

/* encontre alguém... */
div.yOUDAf.OVOLU {
  color: #a9b7c6;
}

/* Salas */
div.aOHsTc.rLyQBf {
  color: #a9b7c6;
}

/* bots */
div.aOHsTc.CX7qPd {
  color: #a9b7c6;
}

/* Encontrar pessoas, salas... */
div.HLTcjb {
  color: #a9b7c6;
}

/* spacer sidebar - chat */
div.yxIv1d.krjOGe {
  background-color: #2b2b2b;
}

/* header siderbar */
div.hqlnxe {
  background-color: #2b2b2b;
}

/* salas hamburger menu btn */
span.Lw7GHd.snByac {
  background-color: #333;
}

/* Begin salas menu lateral */

span.jy2fzc {
  color: #a9b7c6;
  background-color: #2b2b2b;
}
/* end salas menu lateral */

/* sidebar bg */
div.n5yyEc {
  background-color: #2b2b2b;
}
/* sidebar header shadow */
c-wiz.d6pS5 {
  box-shadow: 0 12px 12px -2px #202124;
}
/* sidebar chat header */
div.aOHsTc.pGzWt {
  color: #a9b7c6;
}

/* sala active */
span.qs41qe {
  background-color: #222222;
}

/* title sala active */
span.qs41qe span.jy2fzc {
  color: #a9b7c6;
  background-color: #222222;
}

/* shadow btn seguindo */
div.yg4pvb:before {
  background: transparent;
}
/* bg btn seguindo */
div.FuHVqe {
  background-color: #444;
}

/* text btn seguindo */
div.zxHSSc {
  color: #ff822e;
}

/* edit message text */
div.BScnzc {
  color: #a9b7c6;
}

/* edit message text area bg */
div.dJ9vNe {
  background-color: #4b4b4b;
}

/* new message text bg*/
div.oGsu4 div.oAzRtb.krjOGe {
  background-color: #4b4b4b;
  border-radius: 0.25rem;
}

/* hover over text icon */
div.U26fgb.mUbCce.fKz7Od:hover {
  fill: #a9b7c6;
}

/* private chat new message bar bg */
div.byY7Yb.cFc9ae,
div.XganBc {
  background-color: #222222;
}

/* left spacer chat msg */
div.AflJR {
  background-color: #2b2b2b;
  border-radius: 0;
}

/* simple code quote */
span.U8d2H {
  background-color: #4b4b4b;
  border-color: #a9b7c6;
  color: #ff822e;
}

/* block code quote */
div.FMTudf {
  background-color: #4b4b4b;
  border-color: #a9b7c6;
  color: #ff822e;
}
